services:
  api:
    build:
      context: .
      dockerfile: docker/api.dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    depends_on:
      - oscar

  oscar:
    build:
      context: .
      dockerfile: docker/oscar.dockerfile
    volumes:
      - ./data:/app/data
